*{
    margin: 0;
    padding: 0;
}

.logo-rock{
    width: 40px;
}

.logo-onebit{
    width: 300px;
}
header{
    background-color: black;
    height: 100px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}

.contentheader{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.buttons{
    display: flex;
    gap: 15px;
}

.buttonHeader{
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.buttonHeader:hover{
    border-color: red;
    transition: 0.4s;
}