/* 
Fontes utilizadas:
1. Elemento H1 = Montserrat
2. Elementos com a classe date = Roboto
3. Elementos com a classe post-content = Open Sans

Cores:
1. Background dos posts = #fffafa
2. Cor da data = #008080

*/

body {
	margin: 0;
}

h1 {
	font-family: "Montserrat", sans-serif;
}

.post-container {
	width: 70%;
	height: 100%;
	margin: 0 auto 0 auto;
	background-color: #fffafa;
}

.post-container .date {
	font-family: "Roboto", sans-serif;
	color: #008080;

	tex
}

.post-container div.post-container {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	width: 90%;
}

.post-container .post {
	margin: 0 0 0 3rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
