body{
    background-color: #313c52;
}

h1{
    color: white;
}

h2{
    background-color: #f0cb00;
    border: 3px solid #000000;
}

ul{
    color: white
}
#astronomy-class, #days-of-week{
    color: #ff0000;
}

